// General
hr {
  color: var(--bs-secondary);
}

// Icons
.features i {
  font-size: 2rem;
}

// Navbar
a.active {
  color: var(--bs-secondary) !important;
  text-decoration: underline;
  font-weight: 700;
}

.absolute-nav {
  position: absolute;
  top: 10;
  width: 100%;
  z-index: 1000;
}

// Table
thead th {
  color: var(--bs-white) !important;
}

tbody {
  color: var(--bs-dark);
}

// addPost Page
.add-post input,
.add-post textarea {
  border-color: var(--bs-secondary);
}

/* Blog */
.blog .card {
  width: 19rem;
  height: 30rem;
}

.blog .card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.blog .scrollable-text {
  max-height: 85vh;
  overflow-y: auto; /* Add vertical scrollbar when content exceeds height */
}

.blog .modal-img {
  object-fit: cover;
  max-height: 85vh;
  width: 100%;
}
