<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>DishCord</title>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light absolute-nav">
        <div class="container-fluid px-lg-5">
          <a class="navbar-brand fs-4" href="/">
            DishC<i class="fas fa-cookie-bite"></i>rd
          </a>

          <!-- Hamburger -->
          <button
            class="navbar-toggler border-0 shadow-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Menu -->
          <div
            class="sidebar offcanvas offcanvas-end rounded-start"
            tabindex="-1"
            id="offcanvasNavbar"
          >
            <!-- sidebar header -->
            <div class="offcanvas-header row gap-5">
              <div class="col-12 text-end">
                <button
                  type="button"
                  class="btn-close pe-3 pt-3"
                  data-bs-dismiss="offcanvas"
                ></button>
              </div>
              <div class="col-12 text-center">
                <h2
                  class="offcanvas-title fw-bold"
                  id="offcanvasNavbarLabel"
                >DishC<i class="fas fa-cookie-bite"></i>rd
                </h2>
              </div>
            </div>

            <!-- Navigation links -->
            <div
              class="offcanvas-body d-flex flex-column justify-content-center flex-lg-row p-5 p-lg-0 fs-6"
            >
              <!-- Center Links -->
              <ul
                class="navbar-nav justify-content-center align-items-center flex-grow-1 gap-2"
              >
                {{#navLink "/home"}}Home{{/navLink}}
                {{#if enable}}
                  {{#navLink "#about"}}About{{/navLink}}
                  {{#navLink "#feature"}}Feature{{/navLink}}
                {{/if}}

                {{#navLink "/blog"}}Blog{{/navLink}}

                {{#if session.user}}
                  {{#navLink "/posts"}}Posts{{/navLink}}
                  {{#navLink "/categories"}}Categories{{/navLink}}
                {{/if}}
              </ul>

              <!-- Right-Side Links -->
              <ul
                class="navbar-nav flex-column flex-lg-row justify-content-center align-items-center gap-3"
              >
                {{#if session.user}}
                  <!-- History / Log Out -->
                  {{#navLink "/userHistory"}}History{{/navLink}}
                  <li class="nav-item">
                    <a href="/logout" class="btn btn-primary">Log Out</a>
                  </li>
                {{else}}
                  <!-- register / login -->
                  {{#navLink "/login"}}Login{{/navLink}}
                  <li class="nav-item">
                    <a href="/register" class="btn btn-primary">Register</a>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>