<div class="row">
  <div class="col-md-12">
    <h2>Categories
      <a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
    <hr />

    {{#each categories}}
      <p>{{id}} {{category}}</p>
    {{/each}}

  </div>
</div>