<section class="hero">
  <div class="container pt-6">

    <div class="row align-items-center px-2">
      <div class="col-lg-6">
        <h2 class="display-2 mb-4">Where
          <span class="text-secondary">Culinary Creations</span>
          Unite!</h2>
        <p class="lead mb-4">Indulge your taste buds and embark on a flavorful
          journey with DishCord. We're your go-to destination for mouthwatering
          recipes, cooking inspiration, and a vibrant community of food
          enthusiasts.</p>
        <a href="/register" class="btn btn-primary btn-lg">Register Now</a>
      </div>
      <div class="col-lg-6">
        <div class="image-container">
          <img src="/images/hero.png" alt="" class="img-fluid" />
        </div>
      </div>

      {{! Stats }}
      <div class="row">
        <div class="col-4 text-center mt-5">
          <i class="fas fa-user fa-2xl mb-3"></i>
          <h2 class="counter xl-text" data-target="328">328</h2>
          <p>USERS</p>
        </div>

        <div class="col-4 text-center mt-5">
          <i class="fas fa-carrot fa-2xl mb-3"></i>
          <h2 class="counter text-xl-3" data-target="328">328</h2>
          <p>CATEGORIES</p>
        </div>

        <div class="col-4 text-center mt-5">
          <i class="fas fa-utensils fa-2xl mb-3"></i>
          <h2 class="counter xl-text" data-target="328">328</h2>
          <p>RECIPES</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="mt-6">
  <div class="container">
    <div class="d-flex flex-column align-items-center gap-4">
      <h2 class="w-75 text-secondary fw-semibold">Breaking barriers for culinary
        enthusiasts by keeping it Simple</h2>
      <p class="w-75">"It is our mission to remove barriers and get you straight
        to what you need. Unregistered viewers are able to simply jump in and
        savor the feast of foods, while registered members can seamlessly share
        their culinary creations and connect with our vibrant community."</p>
    </div>
  </div>
</section>

<section class="my-4 my-lg-5">
  <div class="container">
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img
            src="/images/dan-gold-4_jhDO54BYg-unsplash.jpg"
            class="d-block w-75 h-auto mx-auto px-2"
            alt="..."
          />
        </div>
      </div>

    </div>
  </div>
</section>