hr {
  color: var(--bs-secondary);
}

a.active {
  color: var(--bs-secondary) !important;
  text-decoration: underline;
  font-weight: 700;
}

.absolute-nav {
  position: absolute;
  top: 10;
  width: 100%;
  z-index: 1000;
}

th {
  color: var(--bs-white) !important;
}

.add-post input,
.add-post textarea {
  border-color: var(--bs-secondary);
}
